# EditorConfig helps maintain consistent coding styles
# between different editors and IDEs
# See editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 80

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JavaScript/TypeScript
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
max_line_length = 100

# CSS/SCSS/SASS
[*.{css,scss,sass,less}]
indent_style = space
indent_size = 2

# HTML
[*.{html,htm}]
indent_style = space
indent_size = 2

# Python
[*.py]
indent_style = space
indent_size = 4
max_line_length = 88

# Shell scripts
[*.{sh,bash,zsh,fish}]
indent_style = space
indent_size = 2

# Go
[*.go]
indent_style = tab
tab_width = 4

# Rust
[*.rs]
indent_style = space
indent_size = 4
max_line_length = 100

# C/C++
[*.{c,cpp,cxx,h,hpp,hxx}]
indent_style = space
indent_size = 4

# PHP
[*.php]
indent_style = space
indent_size = 4

# Ruby
[*.rb]
indent_style = space
indent_size = 2

# XML
[*.xml]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab

[*.mk]
indent_style = tab

# Docker
[Dockerfile*]
indent_style = space
indent_size = 2

[*.dockerfile]
indent_style = space
indent_size = 2